<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>
	Testing2</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		Process</display-name>
		<servlet-name>Process</servlet-name>
		<servlet-class>Process</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RegistrationManager</display-name>
		<servlet-name>RegistrationManager</servlet-name>
		<servlet-class>RegistrationManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LoginManager</display-name>
		<servlet-name>LoginManager</servlet-name>
		<servlet-class>LoginManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SearchManager</display-name>
		<servlet-name>SearchManager</servlet-name>
		<servlet-class>SearchManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadManager</display-name>
		<servlet-name>UploadManager</servlet-name>
		<servlet-class>UploadManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Process</servlet-name>
		<url-pattern>
		/Process</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationManager</servlet-name>
		<url-pattern>
		/RegistrationManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginManager</servlet-name>
		<url-pattern>
		/LoginManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchManager</servlet-name>
		<url-pattern>
		/SearchManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadManager</servlet-name>
		<url-pattern>
		/UploadManager</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<description>Destination to store display pictures</description>
		<param-name>picture-file</param-name>
		<param-value>E:\IBM TGMC\Pictures</param-value>
	</context-param>
	<env-entry>
		<description>
		Auto Generated - SDO Datasource connection to jdbc:db2://localhost:50000/MAGDB:retrieveMessagesFromServerOnGetMessage=true;</description>
		<env-entry-name>MAGDB</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:db2://localhost:50000/MAGDB:retrieveMessagesFromServerOnGetMessage=true;,com.ibm.db2.jcc.DB2Driver,sinergia,{xor}Njoy</env-entry-value>
	</env-entry>
</web-app>