<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>
	Testing2</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		Process</display-name>
		<servlet-name>Process</servlet-name>
		<servlet-class>Process</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RegistrationManager</display-name>
		<servlet-name>RegistrationManager</servlet-name>
		<servlet-class>RegistrationManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LoginManager</display-name>
		<servlet-name>LoginManager</servlet-name>
		<servlet-class>LoginManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SearchManager</display-name>
		<servlet-name>SearchManager</servlet-name>
		<servlet-class>SearchManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadManager</display-name>
		<servlet-name>UploadManager</servlet-name>
		<servlet-class>UploadManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadPicture</display-name>
		<servlet-name>UploadPicture</servlet-name>
		<servlet-class>UploadPicture</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddModerator</display-name>
		<servlet-name>AddModerator</servlet-name>
		<servlet-class>AddModerator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		captcha</display-name>
		<servlet-name>captcha</servlet-name>
		<servlet-class>captcha</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DisplayProfile</display-name>
		<servlet-name>DisplayProfile</servlet-name>
		<servlet-class>DisplayProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CommentSERVLET</display-name>
		<servlet-name>CommentSERVLET</servlet-name>
		<servlet-class>CommentSERVLET</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EnhanceRegexSERVLET</display-name>
		<servlet-name>EnhanceRegexSERVLET</servlet-name>
		<servlet-class>EnhanceRegexSERVLET</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EmailValidationServlet</display-name>
		<servlet-name>EmailValidationServlet</servlet-name>
		<servlet-class>EmailValidationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EmailValidServlet</display-name>
		<servlet-name>EmailValidServlet</servlet-name>
		<servlet-class>EmailValidServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TryServlet</display-name>
		<servlet-name>TryServlet</servlet-name>
		<servlet-class>TryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DownloadManager</display-name>
		<servlet-name>DownloadManager</servlet-name>
		<servlet-class>DownloadManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadIssue</display-name>
		<servlet-name>UploadIssue</servlet-name>
		<servlet-class>UploadIssue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CategoryAverageRating</display-name>
		<servlet-name>CategoryAverageRating</servlet-name>
		<servlet-class>CategoryAverageRating</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CategoryRejectionRate</display-name>
		<servlet-name>CategoryRejectionRate</servlet-name>
		<servlet-class>CategoryRejectionRate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ModeratorActivityRate</display-name>
		<servlet-name>ModeratorActivityRate</servlet-name>
		<servlet-class>ModeratorActivityRate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CommentReport</display-name>
		<servlet-name>CommentReport</servlet-name>
		<servlet-class>CommentReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteComment</display-name>
		<servlet-name>DeleteComment</servlet-name>
		<servlet-class>DeleteComment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ArticleValidateServlet</display-name>
		<servlet-name>ArticleValidateServlet</servlet-name>
		<servlet-class>ArticleValidateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadArticle</display-name>
		<servlet-name>UploadArticle</servlet-name>
		<servlet-class>UploadArticle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ArticleRejectServlet</display-name>
		<servlet-name>ArticleRejectServlet</servlet-name>
		<servlet-class>ArticleRejectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateProfileServlet</display-name>
		<servlet-name>UpdateProfileServlet</servlet-name>
		<servlet-class>UpdateProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ArticleViewManagerServlet</display-name>
		<servlet-name>ArticleViewManagerServlet</servlet-name>
		<servlet-class>ArticleViewManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Comment</display-name>
		<servlet-name>Comment</servlet-name>
		<servlet-class>Comment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ArchiveManagerServlet</display-name>
		<servlet-name>ArchiveManagerServlet</servlet-name>
		<servlet-class>ArchiveManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EmailValidatorServlet</display-name>
		<servlet-name>EmailValidatorServlet</servlet-name>
		<servlet-class>EmailValidatorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		captchaGeneratorServlet</display-name>
		<servlet-name>captchaGeneratorServlet</servlet-name>
		<servlet-class>captchaGeneratorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ActivateAccountServlet</display-name>
		<servlet-name>ActivateAccountServlet</servlet-name>
		<servlet-class>ActivateAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AuthorListDisplaySevlet</display-name>
		<servlet-name>AuthorListDisplaySevlet</servlet-name>
		<servlet-class>AuthorListDisplaySevlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AuthorDisplayServlet</display-name>
		<servlet-name>AuthorDisplayServlet</servlet-name>
		<servlet-class>AuthorDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CatgeoryDisplayManager</display-name>
		<servlet-name>CatgeoryDisplayManager</servlet-name>
		<servlet-class>CatgeoryDisplayManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CategoryDisplayManager</display-name>
		<servlet-name>CategoryDisplayManager</servlet-name>
		<servlet-class>CategoryDisplayManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CategoryDisplayServlet</display-name>
		<servlet-name>CategoryDisplayServlet</servlet-name>
		<servlet-class>CategoryDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CategoryArticleDisplayServlet</display-name>
		<servlet-name>CategoryArticleDisplayServlet</servlet-name>
		<servlet-class>CategoryArticleDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		VoteProcessorServlet</display-name>
		<servlet-name>VoteProcessorServlet</servlet-name>
		<servlet-class>VoteProcessorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AutocompleteAuthorManager</display-name>
		<servlet-name>AutocompleteAuthorManager</servlet-name>
		<servlet-class>AutocompleteAuthorManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AutocompleteKeywordManager</display-name>
		<servlet-name>AutocompleteKeywordManager</servlet-name>
		<servlet-class>AutocompleteKeywordManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AutocompleteArticleNameManager</display-name>
		<servlet-name>AutocompleteArticleNameManager</servlet-name>
		<servlet-class>AutocompleteArticleNameManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AllArticleServlet</display-name>
		<servlet-name>AllArticleServlet</servlet-name>
		<servlet-class>AllArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ForgotPasswordServlet</display-name>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ForgotPasswordMailServlet</display-name>
		<servlet-name>ForgotPasswordMailServlet</servlet-name>
		<servlet-class>ForgotPasswordMailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CommentFetchServlet</display-name>
		<servlet-name>CommentFetchServlet</servlet-name>
		<servlet-class>CommentFetchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateDownloadCountServlet</display-name>
		<servlet-name>UpdateDownloadCountServlet</servlet-name>
		<servlet-class>UpdateDownloadCountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IgnoreComment</display-name>
		<servlet-name>IgnoreComment</servlet-name>
		<servlet-class>IgnoreComment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DatabaseBackupServlet</display-name>
		<servlet-name>DatabaseBackupServlet</servlet-name>
		<servlet-class>DatabaseBackupServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DatabaseRestoreServlet</display-name>
		<servlet-name>DatabaseRestoreServlet</servlet-name>
		<servlet-class>DatabaseRestoreServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		localLanguageGeneratorServlet</display-name>
		<servlet-name>localLanguageGeneratorServlet</servlet-name>
		<servlet-class>localLanguageGeneratorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		XMLTest</display-name>
		<servlet-name>XMLTest</servlet-name>
		<servlet-class>XMLTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Process</servlet-name>
		<url-pattern>
		/Process</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationManager</servlet-name>
		<url-pattern>
		/RegistrationManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginManager</servlet-name>
		<url-pattern>
		/LoginManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchManager</servlet-name>
		<url-pattern>
		/SearchManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadManager</servlet-name>
		<url-pattern>
		/UploadManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadPicture</servlet-name>
		<url-pattern>
		/UploadPicture</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>
		/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddModerator</servlet-name>
		<url-pattern>
		/AddModerator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>captcha</servlet-name>
		<url-pattern>
		/captcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>
		/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayProfile</servlet-name>
		<url-pattern>
		/DisplayProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentSERVLET</servlet-name>
		<url-pattern>
		/CommentSERVLET</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnhanceRegexSERVLET</servlet-name>
		<url-pattern>
		/EnhanceRegexSERVLET</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailValidationServlet</servlet-name>
		<url-pattern>
		/EmailValidationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailValidServlet</servlet-name>
		<url-pattern>
		/EmailValidServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TryServlet</servlet-name>
		<url-pattern>
		/TryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadManager</servlet-name>
		<url-pattern>
		/DownloadManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadIssue</servlet-name>
		<url-pattern>
		/UploadIssue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryAverageRating</servlet-name>
		<url-pattern>
		/CategoryAverageRating</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryRejectionRate</servlet-name>
		<url-pattern>
		/CategoryRejectionRate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModeratorActivityRate</servlet-name>
		<url-pattern>
		/ModeratorActivityRate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentReport</servlet-name>
		<url-pattern>
		/CommentReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComment</servlet-name>
		<url-pattern>
		/DeleteComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleValidateServlet</servlet-name>
		<url-pattern>
		/ArticleValidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadArticle</servlet-name>
		<url-pattern>
		/UploadArticle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleRejectServlet</servlet-name>
		<url-pattern>
		/ArticleRejectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfileServlet</servlet-name>
		<url-pattern>
		/UpdateProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleViewManagerServlet</servlet-name>
		<url-pattern>
		/ArticleViewManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>
		/Comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiveManagerServlet</servlet-name>
		<url-pattern>
		/ArchiveManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailValidatorServlet</servlet-name>
		<url-pattern>
		/EmailValidatorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>captchaGeneratorServlet</servlet-name>
		<url-pattern>
		/captchaGeneratorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateAccountServlet</servlet-name>
		<url-pattern>
		/ActivateAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorListDisplaySevlet</servlet-name>
		<url-pattern>
		/AuthorListDisplaySevlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorDisplayServlet</servlet-name>
		<url-pattern>
		/AuthorDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CatgeoryDisplayManager</servlet-name>
		<url-pattern>
		/CatgeoryDisplayManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryDisplayManager</servlet-name>
		<url-pattern>
		/CategoryDisplayManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryDisplayServlet</servlet-name>
		<url-pattern>
		/CategoryDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryArticleDisplayServlet</servlet-name>
		<url-pattern>
		/CategoryArticleDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoteProcessorServlet</servlet-name>
		<url-pattern>
		/VoteProcessorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutocompleteAuthorManager</servlet-name>
		<url-pattern>
		/AutocompleteAuthorManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutocompleteKeywordManager</servlet-name>
		<url-pattern>
		/AutocompleteKeywordManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutocompleteArticleNameManager</servlet-name>
		<url-pattern>
		/AutocompleteArticleNameManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllArticleServlet</servlet-name>
		<url-pattern>
		/AllArticleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>
		/ForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordMailServlet</servlet-name>
		<url-pattern>
		/ForgotPasswordMailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentFetchServlet</servlet-name>
		<url-pattern>
		/CommentFetchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDownloadCountServlet</servlet-name>
		<url-pattern>
		/UpdateDownloadCountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IgnoreComment</servlet-name>
		<url-pattern>
		/IgnoreComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatabaseBackupServlet</servlet-name>
		<url-pattern>
		/DatabaseBackupServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatabaseRestoreServlet</servlet-name>
		<url-pattern>
		/DatabaseRestoreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>localLanguageGeneratorServlet</servlet-name>
		<url-pattern>
		/localLanguageGeneratorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLTest</servlet-name>
		<url-pattern>
		/XMLTest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>100</session-timeout></session-config>
	<security-constraint>
		<display-name>
		RegMemberConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>RegMemberCollection</web-resource-name>
			<url-pattern>/Login.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			Auto generated Authorization Constraint</description>
			<role-name>RegMember</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/Login.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>
		</description>
		<role-name>RegMember</role-name>
	</security-role>
	<env-entry>
		<description>
		Auto Generated - SDO Datasource connection to jdbc:db2://localhost:50000/MAGDB</description>
		<env-entry-name>MAGDB</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:db2://localhost:50000/MAGDB,com.ibm.db2.jcc.DB2Driver,sinergia,{xor}Njoy</env-entry-value>
	</env-entry></web-app>